# Ignora o ambiente virtual
env/
env/*
venv/
venv/*

# Ignora todas as pastas (exceto se rastreadas com um .gitkeep ou explicitamente adicionadas)
env/
relatorios_refatorados/
visualizacoes_combinadas/


# Python bytecode e cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Arquivos temporários de editor
*.swp
*.swo
*.bak
*~
.DS_Store
.vscode/
.idea/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Arquivos de log e saída
*.log
*.out
*.tmp

# Arquivos de configuração pessoais
.env
*.sqlite3

# arquivos gerados na pi_explanation
relatorios_refatorados/
visualizacoes_combinadas/